 
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<base href="./">
<title>${Title}</title>
</head>
<body>
	<h1>${Header}</h1>
	<br>
	<br> ${message}
	<br>
	<br>
<form action="#" th:action="@{/addSubject}" th:object="${subject}" method="post">
 
             <table>

                <tr>
                    <td>Subject Title</td>
                    <td> <input type="text" th:field="*{subtitle}" />
                    	 </td>
                </tr>
                <tr>
                    <td>Duration In Hours</td>
                    <td>  <input type="text" th:field="*{durationInHours}" /></td>
                </tr>
 
                <tr>
                    <td><button type="submit">Save</button></td>
                </tr>
                
            </table>
        </form>

</body>
</html>