<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<base href="./">
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
<h1>${Header}</h1><br><br>
${message}<br><br>

 


<br>
	<a href="addSubjectPage">Add Subject</a>
	<br>
	<a href="addBookPage">Add Book</a>
	<br>
	<a href="getSubject">Delete Subject</a>
	<br>
	<a href="getBook">Delete Book</a>
		<br>
	<a href="getSubject">Search Subject</a>
		<br>
	<a href="getBook">Search Book</a>
	<br>
		<a href="javascript:window.close()">Exit</a>
	<br>

</body>
</html>